<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>965143939778-vptqtscu8f0mfmi26rfhgabl1gi8kon6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.965143939778-vptqtscu8f0mfmi26rfhgabl1gi8kon6</string>
	<key>API_KEY</key>
	<string>AIzaSyBsw6StuRIhUy2HuLePuqj3QfO09mu_xjw</string>
	<key>GCM_SENDER_ID</key>
	<string>965143939778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pmbStmik</string>
	<key>PROJECT_ID</key>
	<string>pmb-stmik-182b3</string>
	<key>STORAGE_BUCKET</key>
	<string>pmb-stmik-182b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965143939778:ios:66ed173a76739d084a495b</string>
</dict>
</plist>